body{
    background-image:url('./R.png');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .Zucrepfp{
        width: 200px;
        height: 200px;
        margin-top: 20px;
        margin-left: 20px;
        border: 3px solid white;
        border-radius: 10px;
    }
    .Title{
        font-family: arial;
        color: white;
        float: right;
        margin-right: 100px;
        margin-top: 80px;
        font-size: 50px;
    }
    .paragraph1{
        font-family: arial;
        color: white;
        float: left;
        margin-left: 20px;
        margin-top: 40px;
        font-size: 18px;
        
    }
    .paragraph2{
        font-family: arial;
        color: white;
        float: left;
        margin-left: 35px;
        margin-top: 40px;
        font-size: 16px;
    }
    .paragraph3{
        font-family: arial;
        color: white;
        float: left;
        margin-left: 35px;
        margin-top: 40px;
        font-size: 16px;
    }
    .paragraph4{
        font-family: arial;
        color: white;
        float: left;
        margin-left: 35px;
        margin-top: 40px;
        font-size: 16px;
    }
    #Zucrepfp2{
        float: right;
        margin-top: 85px;
        height: 100px;
        width: 100px;
        margin-right: 45px;
    }
    .updown-animation{
        animation-name: infiniteupdown;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        transition: all;
    }
    @keyframes infiniteupdown{
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-7px);
        }
        100%{
            transform: translateY(0);
        }
    }
    
    